<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center justify-content-between">
    <h1 class="logo"><a href="index.html">AKAB</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto" href="/HomePage">Ana Sayfa</a></li>
        <li><a class="nav-link scrollto" href="/AboutUsPage">Hakkımızda</a></li>
        <li><a class="nav-link scrollto" href="/ContactPage">İletişim</a></li>
        <li><a class="nav-link scrollto" href="/TeamPage">Takımımız</a></li>
        <li><a class="getstarted scrollto" href="/LoginPage">Giriş Yap</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->
