<!-- Content Row -->
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Tasks</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {{ totalTaskCount }}
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Rooms</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {{ totalRoomCount }}
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            Projects
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {{ totalProjectCount }}
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Tickets</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {{ totalTicketCount }}
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content Row -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-12 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 px-2">
                <div class="card-header">
                    <h3>Kullanıcı Ekle</h3>
                </div>
                <form (ngSubmit)="registerUser()" #myForm="ngForm">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="tc_no">TC:</label>
                                <input [(ngModel)]="formData.tc_no" type="text" id="tc_no" class="form-control" name="tc_no"
                                    required maxlength="11" minlength="11">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="fullName">İsim:</label>
                                <input [(ngModel)]="formData.fullName" type="text" id="fullName" class="form-control"
                                    name="fullName" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="userName">Kullanıcı Adı:</label>
                                <input [(ngModel)]="formData.userName" type="text" id="userName" class="form-control"
                                    name="userName" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="email">Email:</label>
                                <input [(ngModel)]="formData.email" type="email" id="email" class="form-control" name="email"
                                    required pattern="[a-zA-Z0-9._%+-]+@[a-zAZ0-9.-]+\.[a-zA-Z]{2,4}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="phone">Telefon:</label>
                                <input [(ngModel)]="formData.phone" type="text" id="phone" class="form-control" name="phone"
                                    required maxlength="11">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="password">Şifre:</label>
                                <input [(ngModel)]="formData.password" type="text" id="password" class="form-control"
                                    name="password" required minlength="8">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="role">Rol Seçiniz:</label>
                            <select [(ngModel)]="formData.role" id="role" class="form-control" name="role" required>
                                <option *ngFor="let option of options" [value]="option">{{ option }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </div>
                </form>
                <p-toast position="bottom-center"></p-toast>
                <!-- <div *ngIf="registrationSuccess" class="alert alert-success" role="alert">
                    Başarıyla kayıt gerçekleştirildi.
                </div> -->
            </div>
        </div>
    </div>
</div>
