<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" *ngIf="userType===0">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/admin/dashboard">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="pi pi-desktop"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Business Management</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/DefaultLayout/admin/dashboard">
      <i class="pi pi-home"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/DefaultLayout/admin/task">
      <i class="pi pi-folder"></i>
      <span>Tasks</span></a>
  </li>
  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/DefaultLayout/admin/room">
      <i class="pi pi-table"></i>
      <span>Rooms</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/DefaultLayout/admin/project">
      <i class="pi pi-sitemap"></i>
      <span>Projects</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/DefaultLayout/admin/ticket">
      <i class="pi pi-tag"></i>
      <span>Tickets</span></a>
  </li>

</ul>

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" *ngIf="userType===1">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/teamlead/dashboard">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="pi pi-desktop"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Business Management</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/DefaultLayout/teamlead/dashboard">
      <i class="pi pi-home"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/DefaultLayout/teamlead/task">
      <i class="pi pi-folder"></i>
      <span>Tasks</span></a>
  </li>
  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/DefaultLayout/teamlead/room">
      <i class="pi pi-table"></i>
      <span>Rooms</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/DefaultLayout/teamlead/project">
      <i class="pi pi-sitemap"></i>
      <span>Projects</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/DefaultLayout/teamlead/ticket">
      <i class="pi pi-tag"></i>
      <span>Tickets</span></a>
  </li>

</ul>

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" *ngIf="userType===2">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/developer/dashboard">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="pi pi-desktop"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Business Management</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/DefaultLayout/developer/dashboard">
      <i class="pi pi-home"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/DefaultLayout/developer/task">
      <i class="pi pi-folder"></i>
      <span>Tasks</span></a>
  </li>
  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/DefaultLayout/developer/room">
      <i class="pi pi-table"></i>
      <span>Rooms</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/DefaultLayout/developer/project">
      <i class="pi pi-sitemap"></i>
      <span>Projects</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/DefaultLayout/developer/ticket">
      <i class="pi pi-tag"></i>
      <span>Tickets</span></a>
  </li>

</ul>