<!-- ======= Footer ======= -->
<footer id="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>AKAB</h3>
          <p>
            İstanbul, Ümraniye<br>
            Türkiye <br><br>
            <strong>Email:</strong> support@reateknoloji.com<br>
          </p>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Şirket</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/HomePage">Ana Sayfa</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/AboutUsPage">Hakkımızda</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/TeamPage">Takımımız</a></li>
          </ul>
        </div>
        
        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Destek</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/ContactPage">İletişim</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/LoginPage">Giriş Yap</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Hizmetlerimiz</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> Web Tasarım</li>
            <li><i class="bx bx-chevron-right"></i> Web Geliştirme</li>
            <li><i class="bx bx-chevron-right"></i> İş Yönetimi</li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Kısaca Biz...</h4>
          <ul>
            <p>Tutku ve sevgiyle çalışan yenilikçi bir şirketiz. İhtiyacınız olan en iyi hizmetleri sağlayıp, hedeflediğiniz noktaya gelmenize yardımcı oluyoruz.</p>
          </ul>
        </div>
        
      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">

    <div class="me-md-auto text-center text-md-start">
      <div class="copyright">
        &copy; <strong><span>AKAB</span></strong>. Tüm hakları saklıdır.
      </div>
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="https://www.twitter.com/" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="https://www.facebook.com/" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="https://www.instagram.com/" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="https://www.skype.com/" target="_blank" class="google-plus"><i class="bx bxl-skype"></i></a>
      <a href="https://www.linkedin.com/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
  </div>
</footer>
<!-- End Footer -->
