
<app-navbar></app-navbar>><!-- ======= Team Section ======= -->
<body>
  <div class="cards">

      <p-card class="card">
          <div class="card-header">Mehmet SUNAY - Direktör</div>
          <ng-template pTemplate="header">
              <img alt="Card" src="https://media.licdn.com/dms/image/D4D03AQGQs2gwviz1zg/profile-displayphoto-shrink_800_800/0/1697829310421?e=1703721600&v=beta&t=mdj1GpVrf_Rk74iPKlCmUULul4gNOOV909cx7ySC4xg" />
          </ng-template>
          <button class="btn">
              <a href="" target="_blank">
                  <i class="fab fa-linkedin"></i>
              </a>
          </button>
          <button class="btn">
              <a href="" target="_blank">
                  <i class="fab fa-github"></i>
              </a>
          </button>
          <button class="btn">
              <a href="" target="_blank">
                  <i class="fab fa-youtube"></i>
              </a>
          </button>
      </p-card>

      <p-card class="card">
          <div class="card-header">Seyit CAMCI - Proje Yöneticisi</div>
          <ng-template pTemplate="header">
              <img alt="Card" src="https://media.licdn.com/dms/image/C4D03AQFJq-6-Er7c5g/profile-displayphoto-shrink_800_800/0/1607161867102?e=1702512000&v=beta&t=zwnlsEKkbrE6vydzVYYH6OqIJAi6qKo-sAagWQqrK5E" />
          </ng-template>
          <button class="btn">
              <a href="" target="_blank">
                  <i class="fab fa-linkedin"></i>
              </a>
          </button>
          <button class="btn">
              <a href="" target="_blank">
                  <i class="fab fa-github"></i>
              </a>
          </button>
          <button class="btn">
              <a href="" target="_blank">
                  <i class="fab fa-youtube"></i>
              </a>
          </button>
      </p-card>

      <p-card class="card">
          <div class="card-header">Gonca KÖPRÜLÜ - Mentor</div>
          <ng-template pTemplate="header">
              <img alt="Card" src="https://media.licdn.com/dms/image/C4D03AQGgzTHstuWXPw/profile-displayphoto-shrink_800_800/0/1658485162657?e=1702512000&v=beta&t=tXQ94uJuVGfzPMS1xhmVo7TJGlW4L65Bm5_JXPn1WaE" />
          </ng-template>
          <button class="btn">
              <a href="" target="_blank">
                  <i class="fab fa-linkedin"></i>
              </a>
          </button>
          <button class="btn">
              <a href="" target="_blank">
                  <i class="fab fa-github"></i>
              </a>
          </button>
          <button class="btn">
              <a href="" target="_blank">
                  <i class="fab fa-youtube"></i>
              </a>
          </button>
      </p-card>

      <p-card class="card">
          <div class="card-header">Kaan Alp ELPE - Full Stack Developer</div>
          <ng-template pTemplate="header">
              <img alt="Card" src="https://media.licdn.com/dms/image/D4D03AQFnjWVMnjRtOQ/profile-displayphoto-shrink_800_800/0/1671878856916?e=1702512000&v=beta&t=E3GiV9SW9y9-_GBzf3uAIqjWZ7Jsj9GAy5zHVOehNUA" />
          </ng-template>
          <button class="btn">
              <a href="" target="_blank">
                  <i class="fab fa-linkedin"></i>
              </a>
          </button>
          <button class="btn">
              <a href="" target="_blank">
                  <i class="fab fa-github"></i>
              </a>
          </button>
          <button class="btn">
              <a href="" target="_blank">
                  <i class="fab fa-youtube"></i>
              </a>
          </button>
      </p-card>

      <p-card class="card">
          <div class="card-header">Alihan TAYÇU - Full Stack Developer</div>
          <ng-template pTemplate="header">
              <img alt="Card" src="https://media.licdn.com/dms/image/C4D03AQHmdx0_7j-wQw/profile-displayphoto-shrink_800_800/0/1663678385607?e=1702512000&v=beta&t=-HUwy7FdNVjnZGq_Qz0Pt8dcMlvgfZI5KT8iBphHPSg" />
          </ng-template>
          <button class="btn">
              <a href="" target="_blank">
                  <i class="fab fa-linkedin"></i>
              </a>
          </button>
          <button class="btn">
              <a href="" target="_blank">
                  <i class="fab fa-github"></i>
              </a>
          </button>
          <button class="btn">
              <a href="" target="_blank">
                  <i class="fab fa-youtube"></i>
              </a>
          </button>
      </p-card>

      <p-card class="card">
          <div class="card-header">Bülent KARANFİL - Full Stack Developer</div>
          <ng-template pTemplate="header">
              <img alt="Card" src="https://media.licdn.com/dms/image/D4D03AQG1X5wG9RVlKA/profile-displayphoto-shrink_800_800/0/1693310547362?e=1702512000&v=beta&t=IPNS8zHK_jL2p6NUXBIw6ohNmG9ZEDwcNC2CkRaUqpw" />
          </ng-template>
          <button class="btn">
              <a href="" target="_blank">
                  <i class="fab fa-linkedin"></i>
              </a>
          </button>
          <button class="btn">
              <a href="" target="_blank">
                  <i class="fab fa-github"></i>
              </a>
          </button>
          <button class="btn">
              <a href="" target="_blank">
                  <i class="fab fa-youtube"></i>
              </a>
          </button>
      </p-card>

  </div>
</body>
<app-footer></app-footer>
