<app-navbar></app-navbar>
<app-hero></app-hero>
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">

          <div class="col-lg-4">
            <div class="box">
              <span>01</span>
              <h4>İşlerinizi Kolay Takip Edin, Başarıyı Yakalayın!</h4>
              <p>İş takip sistemi sayesinde projelerinizi ve görevlerinizi daha iyi organize edin, verimliliği artırın ve başarıya hızla ulaşın. Hemen deneyin ve işlerinizi daha etkin bir şekilde yönetmenin keyfini çıkarın!</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box">
              <span>02</span>
              <h4>İş Takip Sistemiyle Her Şey Daha Kolay!</h4>
              <p>Web sitemizde iş takip sistemi ile projelerinizi, görevlerinizi ve işlerinizi daha etkin bir şekilde yönetme fırsatını yakalayın. Kontrol sizde, başarı daha yakın!</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box">
              <span>03</span>
              <h4>Odadan Projeye, Tasktan Ticketa</h4>
              <p>Web sitemiz, işlerinizi baştan sona yönetmenize olanak tanır. Projeleri, görevleri ve sorunları hızlı ve etkili bir şekilde takip ederek işlerinizi hızlandırın. İşlerinizi daha verimli bir şekilde yönetin!</p>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End Why Us Section -->
<app-footer></app-footer>
